<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Timesheets - Arrays of Sunshine</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div>
            <a class="navbar-brand">Arrays of Sunshine</a>
        </div>
        <div>
            <a href="/dashboard">Dashboard</a> |
            <a href="/team/{{ logged_in_employee.id }}">Your Profile</a> |
            <a href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="container text-center">

        <h2>{{ this_employee.first_name }} {{ this_employee.last_name }}'s Time Cards</h2>
        <div class="row">
            <div class="col">
                <p>Shifts Worked: {{ this_employee.timecards|length }}</p>
            </div>
            <div class="col">
                <p>Est. Total Hours: {{ this_employee.total_hours }}</p>
            </div>
            <div class="col">
                <p>Est. Total Wages: ${{ this_employee.total_wages }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Time In</th>
                            <th scope="col">Time Out</th>
                            <th scope="col">Hours Worked</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if this_employee.timecards|length > 0 %}
                        {% for this_timecard in this_employee.timecards %}
                        <tr>
                            <td> {{ this_timecard.date }}</td>
                            <td> {{ this_timecard.time_in }}</td>
                            <td> {{ this_timecard.time_out }}</td>
                            <td> {{ this_timecard.hours_worked }}</td>
                            <td> <a href="/team/{{ this_employee.id }}/timecards/{{ this_timecard.id }}">View</a>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5">{{ this_employee.first_name }} has not worked any shifts whatsoever.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>