<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/1562d2a823.js" crossorigin="anonymous"></script>
    <title>{{ this_employee.first_name }} {{ this_employee.last_name }} - Arrays of Sunshine</title>
</head>

<body>
    <nav class="navbar navbar-light bg-secondary text-white justify-content-between">
        <div>
            <a class="navbar-brand">Arrays of Sunshine</a>
        </div>
        <div>
            <a href="/dashboard" class="link-white">Dashboard</a> |
            <a href="/team/{{ logged_in_employee.id }}" class="link-white">Your Profile</a> |
            <a href="/logout" class="link-white">Log Out</a>
        </div>
    </nav>
    <div class="container text-center p-5">
        <div class="row">
            <div class="col">
                <img src="{{ this_employee.avatar_url }}" alt="avatar" class="rounded-circle img-thumbnail" width="200">
                {% if this_employee.id == logged_in_employee.id or logged_in_employee.is_manager == 1 %}
                <a href="/team/{{ this_employee.id }}/edit"><i class="fa-solid fa-pencil top-right"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ this_employee.first_name }} {{ this_employee.last_name }}</h2>
                <p>{{ this_employee.role.name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fa-solid fa-envelope"></i>
                {{ this_employee.email }}
            </div>
            <div class="col">
                <i class="fa-solid fa-phone"></i>
                {% if this_employee.phone_number %}
                    {{ this_employee.phone_number }}
                {% else %}
                    <span><em>No phone number available</em></span>
                {% endif%}
            </div>
            <div class="col">
                <i class="fa-solid fa-cake-candles"></i>
                {% if this_employee.birthdate %}
                    {{ this_employee.birthdate|strftime }}
                {% else %}
                    <span><em>No birthdate available</em></span>
                {% endif%}
            </div>
        </div>
        <div class="row d-flex justify-content-center text-left my-4">
            <div class="col-5 bg-light border border-dark mr-4 rounded p-4">
                <p>Shifts Worked:</p>
                <h3>{{ this_employee.timecards|length }}</h3>
            </div>
            <div class="col-5 bg-light border border-dark mr-4 rounded p-4">
                <p>Hours Worked (YTD):</p>
                <h3>{{ this_employee.ytd_hours }}</h3>
            </div>
        </div>
        {% if this_employee.id == logged_in_employee.id or logged_in_employee.is_manager == 1 %}
        <div class="row">
            <div class="col">
                <p>Pin Code: {{ this_employee.pin_code }}</p>
            </div>
            <div class="col">
                <p>Pay Rate: ${{ this_employee.pay_rate }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="/team/{{ this_employee.id }}/edit" role="button">Edit Info</a>
            </div>
            {% if logged_in_employee.is_manager == 1 %}
            {% if this_employee.status == "HIRED" %}
            <div class="col">
                <a class="btn btn-warning" href="/team/{{ this_employee.id }}/terminate" role="button">Terminate</a>
            </div>
            {% elif this_employee.status == "TERMINATED" %}
            <div class="col">
                <a href="/team/{{ this_employee.id }}/rehire" class="btn btn-warning" role="button">Re-Hire</a>
            </div>
            {% endif %}
            <div class="col">
                <a class="btn btn-danger" href="/team/{{ this_employee.id }}/delete" role="button">Delete</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>